@import "tailwindcss";
body{
  background-color: rgb(28, 0, 39);
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 2s linear infinite;
}
html, body, #root {
  width: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
}
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-6px); }
  75% { transform: translateX(6px); }
}